.mainT{
    color:blueviolet;
    text-align: center;
}

.bitcount-grid-double{
  font-family: "Bitcount Grid Double", system-ui;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  font-variation-settings:
    "slnt" 0,
    "CRSV" 0.5,
    "ELSH" 0,
    "ELXP" 0;
}

.nabla-mainTitle {
  font-family: "Nabla", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "EDPT" 100,
    "EHLT" 12;
text-align: center;
font-size: 4em;
text-shadow: 10em;
text-shadow: -2px 2px 1px gray;
}

#bannerimage {
  width: 100%;
  background-image: url("Images/metalplants.jpg");
  height: 200px;
  background-color: purple;
  background-position: center;
  background-size: cover;
}
.image-container {
  margin: 20px;
  float: left;
  width: 150px;
  height: 200px;
  border: 2px solid darkblue;
  background-color: black;
}

.bannerFlex{
    display: flex;
    flex-direction: row;
    background-color: black;
    color: white;
    align-items: stretch;
    text-align: center;
    border: white;
    padding-top: 10px;
    padding-bottom: 10px;
}

body, html {
  margin: 0;
  padding: 0;
}

#intro{
  display: flex;
  flex-direction: row;
  align-items: stretch;
  width:100%;
}

.mainParagraph{
  padding-top: 2em;
  padding-left: 2em;
  padding-right: 2em;
  text-indent: 30px;
  font-family: monospace;
}

.basicBorder{
  padding: 10px;
  border-style: solid;
  border-color: darkblue;
  border-width: 8px;
  background-color: white;
}

body{
  background-color: black;
}

.identifier{
  color: darkblue;
  font-family: monospace;
  font-size: 1.2em;
  font-family: monospace;
  padding: 10px;
  font-weight: bold;
  text-align: center;
}

.subIdentifier{
  color:black;
  text-align: center;
  font-family: monospace;
  font-size: 0.8em;
}

a{
  color: cornflowerblue;
  font-family: monospace;
  text-decoration: none;
}
